<form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Contact Name</mat-label>
        <input matInput formControlName="contactName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" type="tel" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Website URL</mat-label>
        <input matInput formControlName="url" type="url" />
    </mat-form-field>
</form>